{% extends "tasks/page_template.html" %}

{% block title %}File contents {% endblock %}

{% block content %}

<div id="page-content-wrapper">
<h2><span class="glyphicon glyphicon-file"></span> {{branch_name}} : {{file_path}}</h2>
</div>

<pre style="tab-size: 4">
{{file_contents}}
</pre>
<br/>
<br/>
<br/>
{% endblock %}

{% block sidebar_content %}
	<li>
		<b>
			<a href="{% url 'diff' %}">
				<span class="glyphicon glyphicon-transfer"></span>
				Diff
			</a>
		</b>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<span class="glyphicon glyphicon-random"></span>
			Branches
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			{% for branch in all_branches %}
				<li id="{{branch.name}}"><a href="{% url 'browse_source' %}?branch={{branch.name}}">{{branch.name}}</a></li>
			{% endfor %}
		</ul>
    </li>
{% endblock %}