{% extends "tasks/base.html" %}
{% block title %}Add Milestone {% endblock %}

{% block content %}
	<div class="jumbotron">
    	<h2>Add new milestone</h2>
    </div>
    
    <form method="POST" class="post-form" role="form">{% csrf_token %}
    	<table class="table table-hover">
        {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success">
        Add
        <span class="glyphicon glyphicon-plus"></span>
        </button>
    </form>
{% endblock %}

{% block sidebar %}
<div id="sidebar-wrapper">
    	<ul class="sidebar-nav">
        	<li class="sidebar-brand">
            	<p>
            		<span class="glyphicon glyphicon-road"></span>
            		StarTrac
            	</p>
            </li>
			<li>
				<b>
					<a href="{{back}}">
						<span class="glyphicon glyphicon-chevron-left"></span>
						Back
					</a>
				</b>
			</li>
			{{block.super}}
		</ul>
	</div>
{% endblock %}