{% load commnets from task_extras %}
{% load task_priority_style from task_extras %}
{% load staticfiles %}

<div id="page-content-wrapper">
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-lg-12">	
        		<div class="page-header">
   					<h2><span class="glyphicon glyphicon-tasks"></span> Tasks</h2>
				</div>
				<table class="table">
					<tr>
						<th><span class="glyphicon glyphicon-tasks"></span> Name</th>
						<th><span class="glyphicon glyphicon-user"></span> Assigned to</th>
						<th><span class="glyphicon glyphicon-signal"></span> Priority</th>
						{% if filter_kind == "all" %}<th><span class="glyphicon glyphicon-cog"></span> State</th>{% endif %}
						<th><span class="glyphicon glyphicon-tag"></span> Resolved</th>
						<th><span class="glyphicon glyphicon-comment"></span></th>
					</tr>
					{% for task in task_list %}
						{% if filter_kind == task.state_kind or filter_kind == "all" %}
							<tr class="bs-callout {{task|task_priority_style}}">
								<td><p><a href="{% url 'tdetail' task.pk %}">{{task.name}}</a></p></td>
								<td>
									{% if task.assigned_to %}
										{% if task.assigned_to.userextend.picture %}
											<img src="{% static task.assigned_to.userextend.picture %}" width="20" height="20" />
										{% else %}
											<img src="{% static 'album/user.jpg' %}" width="20" height="20" />
										{% endif %}
										<a href="{% url 'author' task.assigned_to.pk %}">{{task.assigned_to}}</a>
									{% endif %}
								</td>
								<td>{{task.getpriority}}</td>
								{% if filter_kind == "all" %}
								<td>{{task.getstate}}</td>
								{% endif %}
								<td>{{task.getresolve}}</td>
								<td>{{task|commnets}}</td>
							</tr>
						{% endif %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
