{% extends "tasks/base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
{% if message %}
		{{message}}
{% endif %}
		<div class="jumbotron">
			<form action="{% url 'login' %}" method="post" role="form">{% csrf_token %}
				<h1>StarTrac</h1> 
				<p>Tracking software made by programmers for programmers...</p>
				
				<div class="form-group">
			      <label for="username">Username:</label>
			      <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" />
			    </div>
				
				<div class="form-group">
			      <label for="password">Password:</label>
			      <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" />
			    </div>
				
				<input type="submit" value="Login" class="btn btn-default"/>
			</form>
		</div>
{% endblock %}

{% block sidebar %}
	<div id="sidebar-wrapper">
    	<ul class="sidebar-nav">
        	<li class="sidebar-brand">
            	<p>
            		<span class="glyphicon glyphicon-road"></span>
            		StarTrac
            	</p>
            </li>
			<li>
				<b>
					<a href="{% url 'register' %}">
						<span class="glyphicon glyphicon-user"></span>
						Register
					</a>
				</b>
			</li>
		</ul>
	</div>
{% endblock %}