{% extends "tasks/base.html" %}
{% block title %}Main Page{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>My first Bootstrap website!</h1>
  </div>
{% endblock %}

{% block sidebar %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">StarTrac</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{% url 'milestones' %}">Milestones</a></li>
        <li><a href="{% url 'requirements' %}">Requirements</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li>
        	<a href="#">
        		<span class="glyphicon glyphicon-user"></span>
        		{{username}}
        	</a>
        </li>
        {% if isadmin %}<li><a href="/admin">Admin panel</a></li>{% endif %}
      </ul>
    </div>
  </div>
</nav>

{% endblock %}