{% extends "tasks/base.html" %}
{% block title %}Main Page{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>My first Bootstrap website!</h1>
  </div>
{% endblock %}

{% block sidebar %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-road"></span> StarTrac</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="{% url 'milestones' %}"><span class="glyphicon glyphicon-flag"></span> Milestones</a></li>
        <li><a href="{% url 'requirements' %}"><span class="glyphicon glyphicon-list-alt"></span> Requirements</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> Tasks</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-time"></span> Timeline</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-user"></span> 
        {{username}} 
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            {% if isadmin %}<li><a href="/admin"><span class="glyphicon glyphicon-star"></span> Admin panel</a></li>{% endif %}
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </li>
      </ul
    </div>
  </div>
</nav>

{% endblock %}