{% extends "tasks/base.html" %}
{% block title %}Detail Page{% endblock %}

{% block content %}
<div>
<ul>
	<li>Name: {{milestone}}</li>
	<li>Date created: {{milestone.date_created}}</li>
	<li>Name: {{milestone.summry}}</li>
</ul>
<div>

<div>
	<h3>Comments</h3>
	
	<div>
		<form method="post" id="form">{% csrf_token %}
			<input type='hidden' name='pk' value='{{milestone.pk}}' id="pk" />
			<textarea rows="5" cols="50" form="usrform" id="ccontent"></textarea> </br>
			<input type="submit" value="Comment" />
		</form>
	</div>
	
	<ul id="rez">
		{% for event in milestone.event_set.all %}
			<li>
				<div>
					{{event.comment.content}}
					{{event.comment.event_user.username}}
					{{event.comment.date_created}}
				</div>
			</li>
		{% endfor %}
	</ul>
</div>

<div>
	<h3>Tasks</h3>
	<ul>
		{% for event in milestone.task_set.all %}
				<li>{{event.task.name}}</li>
		{% endfor %}
	</ul>
</div>
		
{% endblock %}

{% block sidebar %}

	<a href="{% url 'medit' milestone.pk %}">Edit</a>
	
	<a href="{{back}}">Back</a>

{% endblock %}