{% extends "tasks/page_template.html" %}
{% block title %}Milestones Page{% endblock %}
{% load commnets from task_extras %}
{% load closedtasks from task_extras %}
{% load percentage from task_extras %}

{% block meta %}
	{% if user.is_authenticated %}
	    	<!-- Trenutno jedini nacin da se strana redirektuje ako korisnik nema pristup.
	    		 Bolji nacin je ako se stavi dekorater @login_required.. u view.py na funkcije koje
	    		 obradjuju zahtev (request); Trenutno ili nema svih funkcija ili ja ne mogu da ih nadjem :)
	    		 Pa iz tog razloga resenje izgleda ovako.
	    	-->
	    	{{ block.super }}
	{% else %}
			<meta http-equiv="REFRESH" content="0;url=http://127.0.0.1:8000/login/">
	{% endif %}
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	<div id="page-content-wrapper">
    	<div class="container-fluid">
        	<div class="row">
            	<div class="col-lg-12">	
            		<div class="page-header">
       					<h2><span class="glyphicon glyphicon-flag"></span> Milestones</h2>
    				</div>
					<ul class="list-group">
						{% for publisher in object_list %}
							<div class="bs-callout bs-callout-primary">
							<p>
							<li class="list-group-item">
							<span class="badge"><span class="glyphicon glyphicon-tasks"></span> {{publisher.task_set.all.count}}</span>
							<span class="badge"><span class="glyphicon glyphicon-comment"></span> {{publisher|commnets}}</span>
							<a href="{% url 'mdetail' publisher.pk %}">{{publisher.name}}</a>
							</p>
							
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{publisher|closedtasks}}" aria-valuemin="0" 
								aria-valuemax="{{publisher.task_set.all.count}}"  style="width:{{publisher|percentage}}%">
								{{publisher|percentage}}%
							    </div>
							</div>
							</li>
							</div>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endif %}	
{% endblock %}

{% block sidebar_content %}
{% if user.is_authenticated %}
	<li>
		<b>
			<a href="{% url 'addmilestone' %}">
				<span class="glyphicon glyphicon-file"></span>
				Add new milestone
			</a>
		</b>
	</li>
{% endif %}
{% endblock %}