{% extends "tasks/base.html" %}
{% block title %}Detail Page{% endblock %}

{% block content %}
<div class="jumbotron">
<h2>{{requirement}}</h2>

<div class="bs-callout bs-callout-default">
<ul class="list-group">
	<li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Date: {{requirement.pub_date}}</li>
	<li class="list-group-item"><span class="glyphicon glyphicon-cog"></span> State: {{requirement.getstate}}</li>
	<li class="list-group-item"><span class="glyphicon glyphicon-user"></span> User: {{requirement.project_tast_user}}</li>
	<li class="list-group-item"><span class="glyphicon glyphicon-signal"></span> Priority: {{requirement.getpriority}}</li>
	<li class="list-group-item"><span class="glyphicon glyphicon-align-justify"></span> Content: {{requirement.content}}</li>
	<li class="list-group-item"><span class="glyphicon glyphicon-tag"></span> Resolve: {{requirement.getresolve}}</li>
</ul>
</div>
</div>

<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#pane1" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span> Comments</a></li>
	<li><a href="#pane2" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> Tasks</a></li>        
</ul>

<div class="tab-content">
	<div id="pane1" class="tab-pane active">
		<div class="bs-callout bs-callout-warning">
		<form method="post" id="formreq" role="form">{% csrf_token %}
				<input type='hidden' name='pk' value='{{requirement.pk}}' id="pk" />
				<div class="form-group has-error has-feedback" id="err">
					<textarea rows="5" cols="50" form="usrform" id="ccontent" class="form-control" 
					placeholder="Share your thoughts"></textarea>
				</div>
				<!--<input type="submit" value="Comment" class="save btn btn-default" />-->
				<button type="submit" class="btn btn-warning disabled" id="btncomment">
					Comment
					<span class="glyphicon glyphicon-comment"></span>
				</button>
		</form>
		</div>
		
		<ul id="rez" class="list-group">
			{% for event in requirement.event_set.all %}
				{% if event.iscomment %}
				<li class="list-group-item">
					<span class="glyphicon glyphicon-comment"></span> {{event.comment.content}}
					<p><span class="glyphicon glyphicon-user"></span> {{event.comment.event_user.username}}</p>
					<span class="glyphicon glyphicon-calendar"></span> {{event.comment.date_created}}
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	
	<div id="pane2" class="tab-pane">
		<div class="bs-callout bs-callout-success">
		<button type="submit" class="btn btn-success" id="addtask">
	        Add
	        <span class="glyphicon glyphicon-plus"></span>
        </button>
        </div>
        
		<ul class="list-group">
			{% for event in requirement.task_set.all %}
					<li class="list-group-item">{{event.task.name}}</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}

{% block sidebar %}
<div id="sidebar-wrapper">
    	<ul class="sidebar-nav">
        	<li class="sidebar-brand">
            	<p>
            		<span class="glyphicon glyphicon-road"></span>
            		StarTrac
            	</p>
            </li>
			<li>
				<b>
					<a href="{{back}}">
						<span class="glyphicon glyphicon-chevron-left"></span>
						Back
					</a>
				</b>
			</li>
			<li>
				<b>
					<a href="{% url 'redit' requirement.pk %}">
						<span class="glyphicon glyphicon-pencil"></span>
						Edit
					</a>
				</b>
			</li>
			
			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<span class="glyphicon glyphicon-stats"></span>
			Statistics
			<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Page 1-1</a></li>
	            <li><a href="#">Page 1-2</a></li>
	            <li><a href="#">Page 1-3</a></li>
	          </ul>
	        </li>
			
			{{block.super}}
		</ul>
	</div>
{% endblock %}