{% extends "tasks/page_template.html" %}
{% block title %}Tasks Page{% endblock %}

{% block meta %}
	{% if user.is_authenticated %}
	    	<!-- Trenutno jedini nacin da se strana redirektuje ako korisnik nema pristup.
	    		 Bolji nacin je ako se stavi dekorater @login_required.. u view.py na funkcije koje
	    		 obradjuju zahtev (request); Trenutno ili nema svih funkcija ili ja ne mogu da ih nadjem :)
	    		 Pa iz tog razloga resenje izgleda ovako.
	    	-->
	    	{{ block.super }}
	{% else %}
			<meta http-equiv="REFRESH" content="0;url=http://127.0.0.1:8000/login/">
	{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
</br>

<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#pane_all" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> All</a></li>
	<li><a href="#pane_Created" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> Created</a></li>
	<li><a href="#pane_Accepted" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> Accepted</a></li>
	<li><a href="#pane_On_Wait" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> On Wait</a></li>
	<li><a href="#pane_Closed" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> Closed</a></li>
</ul>

<div class="tab-content">

	<div id="pane_all" class="tab-pane active">
		{% include "tasks/filtered_tasks_list_template.html" with filter_kind="all" %}
	</div>
	<div id="pane_Created" class="tab-pane">
		{% include "tasks/filtered_tasks_list_template.html" with filter_kind="C" %}
	</div>
	<div id="pane_Accepted" class="tab-pane">
		{% include "tasks/filtered_tasks_list_template.html" with filter_kind="P" %}
	</div>
	<div id="pane_On_Wait" class="tab-pane">
		{% include "tasks/filtered_tasks_list_template.html" with filter_kind="O" %}
	</div>
	<div id="pane_Closed" class="tab-pane">
		{% include "tasks/filtered_tasks_list_template.html" with filter_kind="Z" %}
	</div>
</div>
{% endif %}
{% endblock %}

{% block sidebar_content %}
{% if user.is_authenticated %}	
	<li>
		<b>
			<a href="{% url 'task_create' %}">
				<span class="glyphicon glyphicon-file"></span>
				Add new task
			</a>
		</b>
	</li>
{% endif %}
{% endblock %}