{% extends "tasks/page_template.html" %}
{% block title %}Edit Task {% endblock %}

{% block meta %}
	{% if user.is_authenticated %}
	    	<!-- Trenutno jedini nacin da se strana redirektuje ako korisnik nema pristup.
	    		 Bolji nacin je ako se stavi dekorater @login_required.. u view.py na funkcije koje
	    		 obradjuju zahtev (request); Trenutno ili nema svih funkcija ili ja ne mogu da ih nadjem :)
	    		 Pa iz tog razloga resenje izgleda ovako.
	    		 
	    		 Mozda je ovde visak - testiraj !
	    	-->
	    	{{ block.super }}
	{% else %}
			<meta http-equiv="REFRESH" content="0;url=http://127.0.0.1:8000/login/">
	{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}	
	<div class="jumbotron">
    	<h2>Update task</h2>
    </div>
    
    <div class="bs-callout bs-callout-primary">
    <form method="POST" class="post-form" role="form">{% csrf_token %}
    	<table class="table table-hover">
        {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">
        Update
        <span class="glyphicon glyphicon-ok"></span>
        </button>
    </form>
    </div>
{% endif %}
{% endblock %}