{% extends "tasks/page_template.html" %}
{% block title %}Tasks Page{% endblock %}


{% block content %}
	<div id="page-content-wrapper">
    	<div class="container-fluid">
        	<div class="row">
            	<div class="col-lg-12">	
            		<div class="page-header">
       					<h2><span class="glyphicon glyphicon-tasks"></span> Tasks</h2>
    				</div>
					<ul class="list-group">
						{% for task in task_list %}
							<div class="bs-callout bs-callout-primary">
								<li class="list-group-item">
									<p><a href="{% url 'task_detail' task.pk %}">{{task.name}}</a></p>
								</li>
							</div>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
		
{% endblock %}

{% block sidebar_content %}
	<li>
		<b>
			<a href="{% url 'task_create' %}">
				<span class="glyphicon glyphicon-file"></span>
				Add new task
			</a>
		</b>
	</li>
	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
	<span class="glyphicon glyphicon-stats"></span>
	Statistics
	<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Page 1-1</a></li>
        <li><a href="#">Page 1-2</a></li>
        <li><a href="#">Page 1-3</a></li>
      </ul>
    </li>
{% endblock %}