{% extends "tasks/base.html" %}
{% block title %}Timeline{% endblock %}

{% block modal %}

<div id="dialog-3"></div>

{% endblock %}

{% block content %}
	<div id="page-content-wrapper">
    	<div class="container-fluid">
        	<div class="row">
            	<div class="col-lg-12">	
            		<div class="page-header">
       					<h2><span class="glyphicon glyphicon-time"></span> Timeline</h2>
    				</div>
					{% for publisher in object_list %}
						<div class="bs-callout bs-callout-primary">
							<table class="table table-hover">
								<thead>
									<tr>
										<th><span class="glyphicon glyphicon-calendar"></span> {{publisher.0.date_created}}</th>
									</tr>
								</thead>
								<tbody>
									{% for obj in publisher %}
										<tr>
											<td class='clickableRow' id="{{obj.pk}}"><span class="glyphicon glyphicon-cog"></span> {{obj.geteventkind}}</td>
											<td><a href="{% url 'udetail' %}"><span class="glyphicon glyphicon-user"></span> {{obj.event_user}}</a></td>
											<td>{{obj.pk}}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
		
{% endblock %}

{% block sidebar %}
	<div id="sidebar-wrapper">
    	<ul class="sidebar-nav">
        	<li class="sidebar-brand">
            	<p>
            		<span class="glyphicon glyphicon-road"></span>
            		StarTrac
            	</p>
            </li>
			<li>
				<b>
					<a href="/tasks">
						<span class="glyphicon glyphicon-chevron-left"></span>
						Back
					</a>
				</b>
			</li>
			{{block.super}}
		</ul>
	</div>
{% endblock %}