{% extends "tasks/page_template.html" %}
{% load staticfiles %}

{% block title %}Detail Page{% endblock %}


{% block content %}
<div class="jumbotron">
<h2>{{user}}</h2>

<div class="bs-callout bs-callout-default">
<ul class="list-group">

	{% if user.userextend.picture %}
	
	<li class="list-group-item"><span class="glyphicon glyphicon-align-justify"></span> Profile picture: 
	<br/><br/>&nbsp;
		<img src="{% static user.userextend.picture %}" width="100" height="100" />
	</li>

	{% else %}
	
	<li class="list-group-item"><span class="glyphicon glyphicon-align-justify"></span> Profile picture: 
		<img src="{% static 'album/user.jpg' %}" width="100" height="100" />
	</li>
	
	{% endif %}
	
	<li class="list-group-item"><span class="glyphicon glyphicon-align-justify"></span> First name: {{user.first_name}}</li>
	<li class="list-group-item"><span class="glyphicon glyphicon-align-justify"></span> Last name: {{user.last_name}}</li>
	<li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> E-mail: {{user.email}}</li>
</ul>
</div>
</div>
{% endblock %}

{% block sidebar_content %}
	{% if not user.is_superuser %}
	<li>
		<b>
			<a href="{% url 'uedit' user.pk %}">
				<span class="glyphicon glyphicon-pencil"></span>
				Edit
			</a>
		</b>
	</li>
	{% endif %}
{% endblock %}