{% extends "tasks/page_template.html" %}
{% block title %}Detail Page{% endblock %}


{% block content %}
<div class="jumbotron">
<h2>{{user}}</h2>

<div class="bs-callout bs-callout-default">
<ul class="list-group">

	{% if user.userextend.picture != '' %}
	
	<li class="list-group-item"><span class="glyphicon glyphicon-align-justify"></span> Profile picture: 
	<br/><br/>&nbsp;
		<img style="border:1px solid gray;" src="{{APP_URL}}../{{user.userextend.picture}}" width="100" height="100" />
	</li>

	{% else %}
	
	<li class="list-group-item"><span class="glyphicon glyphicon-align-justify"></span> Profile picture: 
		<img style="border:1px solid gray;" src="http://127.0.0.1:8000/tasks/static/album/user.jpg" width="100" height="100" />
	</li>
	
	{% endif %}
	
	<li class="list-group-item"><span class="glyphicon glyphicon-align-justify"></span> First name: {{user.first_name}}</li>
	<li class="list-group-item"><span class="glyphicon glyphicon-align-justify"></span> Last name: {{user.last_name}}</li>
	<li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> E-mail: {{user.email}}</li>
</ul>
</div>
</div>
{% endblock %}

{% block sidebar_content %}
	<li>
		<b>
			<a href="{% url 'uedit' user.pk %}">
				<span class="glyphicon glyphicon-pencil"></span>
				Edit
			</a>
		</b>
	</li>
{% endblock %}